
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


/* Main site body */
.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative; /* Ensure absolute positioned child elements are relative to this*/
}

/*--------------header------------------*/
.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 811px;
    height: 68px;
    left: 0px;
    top: 0px;
}

.title {
position: fixed;
width: 261px;
height: 68px;
left: 0px;
top: 0px;
line-height: 34px;
/* identical to box height, or 148% */

display: flex;
flex-direction: row;
align-items: left;
padding: 15px 32px 15px 16px;
}

.title h3{
position: absolute;
top:  16px;
left:  16px;
font-family: 'Open Sans',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;

color: #4D4D4D;

margin-top: 0px;




}


.title #verticalLine {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 0px;
    left: 193px;
    top: 0px;  

    border: 1px solid #E5E5E5;
    transform: rotate(-90deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.property {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 24px;

    position: fixed;
    width: 251px;
    height: 68px;
    left: 262px;
    top: 0px;

    /* white */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}



.property p{
    position: absolute;
    width: 210px;
    height: 20px;
    left: 24px;
    top: 39px;

    /* Bodyy */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 154% */


    /* text/primary */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.property #property_logo {
    position: absolute;
    left: 21px;
    width: 90px;
    height: auto;
    display: inline-block;
    margin-right: 5px;
    top: 15%;

}

.property #verticalLine2 {
    position: absolute;
    display: inline-block;
    width: 66px;
    height: 0px;
    left: 215px;

    border: 1px solid #E5E5E5;
    transform: rotate(-90deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}






.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 24px;

    position: fixed;
    width: 240px;
    height: 64px;
    left: 514px;
    top: 0px;

    /* white */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.date #date-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 25px;
    top: 25px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.date h3{
    position: absolute;
    width: 180px;
    height: 20px;
    left: 66px;
    top: 25px;
    margin-top: 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
/* identical to box height, or 154% */


    color: #333333;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    position: absolute;

    width: 178.77px;
    height: 68px;
    right: 1%;
    top: 0px;
}
.logo #logo{  
    position: absolute;
    width: 130.77px;
    height: 40px;
    left: 24px;
    top: 14px;
}

/*---------------footer-------------*/
#footer {
    position: absolute;
    display: inline-block;
    bottom: 3.5%;
    height: 16px;
    width: 307px;
    border-radius: 2px;
    left: 10px;

    /* background/Background/Normal */

    background: #FFFFFF;

    font-family: font-family: 'Open Sans', sans-serif;
    font-size: 11.5px;
    line-height: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    align-items: center;

}


#dismiss {
    color: blue;
    cursor:pointer;
}

#dismiss:focus ~ .footer{
    display: hidden;
}

.mapboxgl-ctrl-logo {
    position: absolute;
    left: 10px;
    bottom: 0%;
}



/*--------------------------------*/
#map {
    position: absolute;
    top: 68px;
    bottom: 0;
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: font-family: 'Open Sans', sans-serif;
      }

h1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 5px;
    }

a {
    text-decoration: none;
    color: #2dc4b2;
   }



/*-----------------layer selections-----------*/

    .buttons{
        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: fixed;

        height: 30px;
        left: 16px;
        top: 92px;


        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 0px 0px;
    }


    .buttons h4{
        /* font */

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */


        color: #333333;

        text-align: left;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 8px;
    }


    .buttons #HHI, .buttons #visits, .buttons #PopD {
        /* Pill */

        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 12px;

        width: auto;
        height: 50px;
        /* white */

        background: #FFFFFF;
        /* lines-outlines/divider-section */

        border: 1px solid #D0D0D0;
        box-sizing: border-box;

        border-radius: 0px;

        /* Inside auto layout */

        flex: none;
        order: 3;
        flex-grow: 0;
        margin: 0px 0px;

    }


    #HHI:focus, #visits:focus, #PopD:focus {
        background-color: #49565D;  
        color: white;
    }

    #HHI:focus >h4, #visits:focus >h4, #PopD:focus >h4 {
        color: white;  
    }

    #HHI:hover, #visits:hover, #PopD:hover {
        background-color: #49565D;

    }

    #HHI:hover >h4, #visits:hover >h4, #PopD:hover >h4{
        color: white; 
    }

    #HHI:hover >img,#visits:hover >img, #PopD:hover >img  {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(104%) contrast(102%)    
    }

   
    #HHI:focus >img,#visits:focus >img, #PopD:focus >img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(126deg) brightness(104%) contrast(102%)    
    }

/*-----------------table ------------------------*/
.table {
    background-color: #fff;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;

    padding: 10px;
    width: 444px;
    height: 238px;
    right: 13px;
    bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;


}

.table #table-title{
    background-color: #F2F2F2; /*F2F2F2*/

    position: absolute;
    left: 0px;
    width: 100%;
    top: 0;

}

#table-title h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    /* White */

    color: #49565D; /*5E63E5*/

    margin:10px 51px 10px 20px;

}

.table table{

    width: 444px;
    border-collapse: collapse

}

.table table td {
    border-top: thin solid #D0D0D0; 
    text-align: center;
}

.table table th {
    text-align:  center;
}

#table-row {
    font-weight: bold;
}


#table-content {
    position: absolute;
    top:  44px;
    left: 0px;
}

#table-head {
    background: #FFFFFF;
    border: 1px solid #D0D0D0;

    width: 444px;
    height: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}


#row1,#row2,#row3, #row4 {
    width: 444px;
    height: 40px;

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
    margin: 0px 0px;
}


/*------------------legend ----------------------*/
.legend {
    background-color: #fff;
    border-radius: 3px;
    left: 10px;
    bottom: 6%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    
    z-index: 1;
}

.visits-legend {
    background-color: #fff;
    border-radius: 3px;
    width: 307px;
    height: 144px;
    left: 10px;
    bottom: 6%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
}

.HHI-legend {
    background-color: #fff;
    border-radius: 3px;
    width: 307px;
    height: 144px;
    bottom: 6%;
    left: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
}

#legend-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 16px 8px;

    position: absolute;
    width: 130px;
    height: 144px;

    /* background/hover */

    background: #F2F2F2;
    border-radius: 4px 0px 0px 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#legend-header h4{
    position: static;
    height: 60px;
    left: 16px;
    right: -51px;
    top: calc(50% - 60px/2 - 28px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    /* or 118% */


    /* Text/Primary */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

#legend-header p{
    position: static;
    width: 114px;
    height: 62px;
    left: calc(50% - 128px/2 + 15px);
    top: calc(50% - 62px/2 + 33px);

    /* Italic Headline */

    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */

    display: flex;
    align-items: center;

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

#legend-group {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 16px 16px 24px;

    position: absolute;
    width: 150px;
    height: 144px;
    left: calc(50% - 177px/2 + 57px);
    top: calc(50% - 144px/2);

    /* White */

    background: #FFFFFF;
    border-radius: 0px 4px 4px 0px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#legend-group #g1 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    left: 24px;
    right: 0px;
    height: 18px;
    top: 0%;
    bottom: 0%;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}

#legend-group #g2 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    width: auto;
    height: 18px;
    left: 0px;
    top: 32px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}

#legend-group #g3 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    width: auto;
    height: 18px;
    left: 0px;
    top: 64px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}

#legend-group #g4 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    width: auto;
    height: 18px;
    left: 0px;
    top: 96px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}

#legend-group #g5 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    width: auto;
    height: 18px;
    left: 0px;
    top: 128px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}

#legend-group #g6 {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;

    position: static;
    width: auto;
    height: auto;
    left: 0px;
    top: 128px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 0px;
}


.HHI-legend p, .visits-legend p {
    /* Graph/Y Axis */

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    /* Text/Primary */

    color: #333333;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    width: 120px;
}
 
.HHI-legend div span, .visits-legend div span {
    border-radius: 1%;
    display: inline-block;
    height: 18px;
    margin-right: 14px;
    width: 18px;
    padding: 5px;

}

/*
#v-legend-color {
    background: linear-gradient(
        to right,
        #ffba7a,
        #ffba7a,
        #fe662f,
        #ef350b,
        #cc0e00,
        #7a0000
        );
    position: absolute;
    margin-bottom: 5px;
    height:  10px;
    width: 182px;
    top:  56px;

}

.row1 {
    position: absolute;
    height: 12px;
    width: 100%;
    margin-bottom: 5px;
    top: 68px;

}

.label {
    width: 18%;
    display: inline-block;
    text-align: center;
    margin-left: -4px;
    color: #050505;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

*/

/*--------------------Pop up ----------------------*/


.mapboxgl-popup-content {
  font: 400 15px/16px 'Open Sans', sans-serif;
  padding: 5px;
  margin-bottom: -1px;
  width: 150px;
}

.mapboxgl-popup-content h3 {
 /* background: #5E63E5; */
  color: #4D4D4D;
  margin-top: 1px;
  border-radius: 2px 2px 0 0;
  font-weight: 300;
  font-size: 15px;
  padding: 4px;

}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 2px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.mapboxgl-popup-content div {
  padding: 0px;
}






